@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic);

html {
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
}

html { 
background: url(../img/bg.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

body {
}

.container {
position: absolute;
top: 50%;
left: 50%;
width: 1200px;
height: 600px;
margin-top: -300px; /*set to a negative number 1/2 of your height*/
margin-left: -600px; /*set to a negative number 1/2 of your width*/
}

#slider {
align-self: center;
margin: auto;
cursor: e-resize;
}

.container-video {
position: absolute;
top: 50%;
left: 50%;
width: 1200px;
height: 600px;
margin-top: -300px; /*set to a negative number 1/2 of your height*/
margin-left: -600px; /*set to a negative number 1/2 of your width*/
}

#video {
align-self: center;
margin: auto;
cursor: e-resize;
}

.footer {
width: 100%;
height: 60px;
background-color: black;
position:fixed;
bottom:0;
text-align: center;
padding-top: 30px;
}

.footer a{
font-family: 'Playfair Display', serif;
letter-spacing: 1px;
font-weight: 400;
font-size: 21px;
color: #FFFFFF;
text-transform: uppercase;
text-decoration: none;
}

.footer a:hover{
cursor:s-resize;
}

audio {
	display: none;
}
